celery==5.4.0
Flask==3.0.3
langchain_community==0.3.1
langchain_core==0.3.6
python-dotenv==1.0.1
redis==5.1.0
Requests==2.32.3
tools==0.1.9
utils==1.0.2
gunicorn==23.0.0
pytest==8.3.3
pytest-cov==5.0.0
# LLM Test LOCAL dependencies
# bert-score==0.3.13
# scikit-learn==1.5.2
# sentence-transformers==3.2.1
# spacy==3.8.2
# spacy-legacy==3.0.12
# spacy-loggers==1.0.5